<!DOCTYPE html>
<html lang="eng">

<head>
    <title>Express App</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <h1>These are the services I offer<br> Everything I do has been packaged in one source.</h1>

    <p>
        I design stunning and responsive websites <br> with the latest web technologies such as <br> HTML, CSS,
        JavaScript,ReactJS, NodeJs.<br>App Development
        I also develop mobile and web <br>applications that are centered
        upon solving every day's difficult problems. <br> This applications are developed with <br>
        minimal errors for proper functioning.
    </p>
    <img src="./images/web3.png" alt="logo">
</body>

</html>
</body>

</html>