<!DOCTYPE html>
<html lang="eng">

<head>
    <title>Express App</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <h1>PROFILE-EXPRESS</h1>
    <h2>Hi, My Name Is Soliu Ahmad</h2>

    <div>
        {{>header}}
    </div>

    <div class="header">
        <p>
            I am an experienced software developer. <br>
            My skills are covering a wide range of coding and creative design. <br>
            I am very passionate about delivering the most recent trends,<br>
            solving complex problems, and creating responsive websites and applications<br>
            that you will love to use. Take a look around and if you like my work,<br>
            get in touch with me, and together we will build something creative.</p>

    </div>

    <img src="./images/web3.png" alt="logo">
    <a href="about">Read More</a>
    <div class="footer">
        {{>footer}}
    </div>
</body>

</html>